<div class="promo-se">
  <div class="promo-se__bgs">
    <div class="promo-se__bg" style="background-image: url('{{site.img}}/promo-se/01.jpg')"></div>
    <div class="promo-se__bg" style="background-image: url('{{site.img}}/promo-se/02.jpg')"></div>
    <div class="promo-se__bg" style="background-image: url('{{site.img}}/promo-se/03.jpg')"></div>
  </div>
  <div class="promo-se__content">
    <h2 class="h1">That’s not all we&nbsp;do...</h2>
    <p class="max-w-screen-md mx-auto text-xl">Haven't found your dream escape yet? We have plenty more great value refundable offers to choose from.</p>
    <div class="h-4"></div>
    <a href="https://www.secretescapes.com/current-sales" class="btn">See All Current Sales</a>
  </div>
</div>